body{
    background: #282C34; font-family: 'IBM Plex Mono', monospace !important;
}

#commandBar{
    margin-right:1em;
    position: absolute;
    right:0px;
    color: white;
    font-size:15px !important;
    display: flex;
    align-items: center;
}

.runCode{
    color: white;
    border:none;
    background: none;
    font-size:30px !important;
}
.runCode:hover{
    color: #E5C064;

}
.editor{
    width:100%; font-size: 30px;background: inherit;border: none; color:#E5C064;font-family: inherit;  resize: none;
}
.basicConsole{
    width: 100%;
    height:5em;
    color: #fcfff7;
    font-size:20px !important;

}